*{
	
        padding: 0;
	margin: 0;
	font-family: 'Poppins',sans-serif;
}
.tab {
  overflow: hidden;
  background-color: #A2DDDA;
  
}
.tab button {
  background-color: #A2DDDA;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #008080;
}
.tab button.active {
  background-color: #A2DDDA;
}
.tabcontent {
  display:none;
  padding: 200px 30px;
  font-size:35px;
  height:100%;
  }
.tabcontent a{
  width:200px;
  display:block;
  padding:10px;
  border-radius:20px;
  text-decoration:none;
  background-color:white;
  font-size:20px;
  text-align:center;
  }
#Home{background-image:url('IMG_20201119_210239.jpg');}
#LiveClasses{background-image:url('i.jpg');}
#VideoLibrary{background-image:url('i.jpg');}
#Courses{background-image:url('i.jpg');}
#Books{background-image:url('i.jpg');}
#Board{background-image:url('i.jpg');}
#Expert{background-image:url('i.jpg');}